@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.open {
  transition: 0.2s ease-in-out;
  right: 0;
}

.close {
  transition: 0.2s ease-in-out;
  transform: translateX(100%);
}

#sidebar {
  padding-top: 1rem;
  overflow: hidden;
}

#sidebar a {
  display: block;
  padding: 0.5rem;
  font-weight: 500;
  padding-left: 1rem;
  border-bottom: 1px solid rgb(213, 212, 212);
}